
div {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
  }
  
  .recipe1 {
    background-color: #548CA8;
  }
  
  .recipe2 {
    background-color: #476072;
  }
  
  .recipe3 {
    background-color: #334257;
  }

  .recipe4 {
    background-color: #be0988;
  }

/*

* {
    background-color: yellow;
    color: orange; 
}

ul {
    color: red !important;
}

li {

    color: green
}



h1 {
    background-color: red;
    color: green;
    font-size: 80px;
    font-weight: 400;
    font-style: italic;
}


.noodles {
    background-color: yellow; 
    color: blue;
}



ul {
    background-color: purple;
}
