h1 {
    background-color: red;
    color: green;
    font-size: 80px;
    font-weight: 400;
    font-style: italic;
}


.recipes {
    background-color: yellow; 
    color: blue;
}


ul {
    background-color: purple;
}

/*

